nav{
    display: flex;
    align-items: centera;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: space-between;
    flex-basis: calc(33.33%);

}
.title{
    margin-left: 70px;
    margin-bottom: 10px;
}
.buttons2{
    display: flex;
    
}

#getstarted button{
    background-color: darkorange;
    border: 6px solid darkorange;
    border-radius: 8%;
}
#buy button{
    background-color: darkorange;
    border: 6px solid darkorange;
    border-radius: 8%;
    margin-right: 20px;
}
#rent button{
    background-color: white;
    border: 3px solid darkorange;
    border-radius: 8%;
    color: darkorange;
}
.image1{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 30%;
}

.area1{
    display: flex;
    margin-left: 70px;
}
.area01{
    width: 40%;
}

.area1 img{
    width: 80%;
    margin-left: 70px;
    position: relative;
    z-index: 10;
    left: -50;
}
nav ul{
    display: flex;
    list-style: none;

}
nav li{
    margin-right: 20px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.navigation li{
    margin-left: 30px;
}
.authentication{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 70px;
}
.topratedcars ul{
    display: flex;
    list-style: none;
    width: 100%;
    
}
.topratedcars img{
    width: 70%;
}
.rect1{
    display: flex;
    list-style: none;
}
.rect2{
    display: flex;
    list-style: none;
}
.clientreviews ul{
    display: flex;
    list-style: none;
}

.clientreviews{
    display: flex;
    margin: none;
}
.clientreviews li{
    flex-basis: 100%;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  text-align: center;
}
.clientreviews img{
    width: 70%;
    height: auto;    
}
.clientreviews p{
    width: 70%;
}
.clientreviews li strong{
    display: block;
    margin-top: 10px;
    text-align: center;
}
.clientreviews ul{
    display: flex;
}


.arealast{
    display: flex;
    align-items: top;
    width: 100%;
    justify-content: space-between;
    flex-basis: calc(25%);

}
.rocarstorapp{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.roc1{
    display: flex;
    justify-content: space-between;
}

.appimg{
    display: flex;
    justify-content: space-between;
}
#name{
    border: 3px solid orange;
    margin-bottom: 10px;
    height: 30px;
}
.submit button{
    background-color: darkorange;
    border: 6px solid darkorange;
    border-radius: 10%;
}