nav{
    display: flex;
    align-items: centera;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: space-between;
    flex-basis: calc(33.33%);
    font-weight: 550;

}
.title{
    margin-left: 70px;
    margin-bottom: 10px;
}
.buttons2{
    display: flex;
    
}

#getstarted button{
    background-color: rgba(225, 68, 0, 0.87);
    border: 6px solid rgba(225, 68, 0, 0.87);
    border-radius: 8%;
}
#buy button{
    background-color: rgba(225, 68, 0, 0.87);
    border: 6px solid rgba(225, 68, 0, 0.87);
    border-radius: 8%;
    margin-right: 20px;
    height: 100%;

}
#rent button{
    background-color: white;
    border: 1px solid rgba(225, 68, 0, 0.87);
    border-radius: 8%;
    color: rgba(225, 68, 0, 0.87);
    width: 100%;
    height: 100%;
}
.image1{
    width: 60%;
    height: 50%;
    
}
.image1 img{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 50%;
    margin-left: 70px;
    position: relative;
    z-index: 10;
    left: -50;
}
.area01{
	justify-content: center;
	align-items: center;
}

.area1{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 70px;
}
.image-container{
    width: 70%;
    height: 20%;
    background-color:rgba(225, 68, 0, 0.87);
    /*display: flex;
      align-items: center;
      justify-content: center;*/
}
.image-container img {
    position: relative;
    left: -120px; 
    top: -10px; 
}
.buy, .rent{
    padding: .5rem;
    border-radius: 8px;
    width: 8rem;
    margin-top: 1rem;
}.buy{
    border: none;
    background-color:rgba(225, 68, 0, 0.87) ;
}
.rent{
    background: none;
    border: 1px solid rgba(225, 68, 0, 0.87);
}
.buttons{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;

}
nav li{
    margin-right: 20px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.navigation li{
    margin-left: 30px;
}
.authentication{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 70px;
}
.carbuttons{
    justify-content: space-between;
}
#mercedes button{
    background-color: rgba(225, 68, 0, 0.87);
    border: 2px solid rgba(225, 68, 0, 0.87);
}
.carbuttons button{
  background-color: white;
    border: 1px solid rgba(225, 68, 0, 0.87);  
    border-radius: 10%;
    margin-left: 35px;
    height: 35px;
    padding: 10px;
}
.topratedcars ul{
    display: flex;
    list-style: none;
    width: 100%;
    
}
.topratedcars img{
    width: 70%;
}
.rect1{
    display: flex;
    list-style: none;
    
}
.rect1 img h3{
    display: flex;

}
.rect2{
    display: flex;
    list-style: none;
}
.clientreviews ul{
    display: flex;
    list-style: none;
}

.clientreviews{
    display: flex;
    margin: none;
}
.clientreviews li{
    flex-basis: 100%;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  text-align: left;
}
.clientreviews img{
    width: 70%;
    height: auto;    
}
.clientreviews p{
    width: 70%;
        justify-content: space-between;


}
.clientreviews li strong{
    display: block;
    margin-top: 10px;
    text-align: center;
}
.clientreviews ul{
    display: flex;
}


.arealast{
    display: flex;
    align-items: top;
    width: 100%;
    justify-content: space-between;
    flex-basis: calc(25%);

}

.download-section{
	background-color: blanchedalmond;
	height: 15rem;
	margin-top: 5rem;
}
.download-container{
    display: flex;
	position: relative;
	left: 25%;
	max-width: 800px;
  	width: 100%;
}
.download-details{
width: 50%;
}

.store-images{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.appstore{
	width: 50%;
}
.playstore{
	width: 50%;
	height: 50%;
}
.phone img{
	position: relative;
	z-index: 10;
	top: -120px;
}
#name{
    border: 3px solid rgba(225, 68, 0, 0.87);
    margin-bottom: 10px;
    height: 30px;
}
.submit button{
    background-color: rgba(225, 68, 0, 0.87);
    border: 6px solid rgba(225, 68, 0, 0.87);
    border-radius: 10%;
}