nav{
    display: flex;
    align-items: centera;
    border-bottom: 1px solid black;
    /* width: 100%; */
    justify-content: space-between;
    flex-basis: calc(33.33%);
    font-weight: 550;
    padding: 5px 5px;

}
.title{
    margin-left: 70px;
    margin-bottom: 10px;
}
.buttons2{
    display: flex;
    
}

#getstarted{
    background: rgba(225, 68, 0, 0.87);
    border: none;
    /* padding: 10px 15px; */
    border-radius: 5px;
}

nav ul li:hover{
    background-color: rgba(225, 68, 0, 0.87);
    border-radius: 5px;
}

/* #buy button{
    background-color: rgba(225, 68, 0, 0.87);
    border: 6px solid rgba(225, 68, 0, 0.87);
    border-radius: 8%;
    margin-right: 20px;
    height: 100%;

}
#rent button{
    background-color: white;
    border: 1px solid rgba(225, 68, 0, 0.87);
    border-radius: 8%;
    color: rgba(225, 68, 0, 0.87);
    width: 100%;
    height: 100%; */

/* .image1{
    width: 60%;
    height: 50%;
    
}
.image1 img{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 50%;
    margin-left: 70px;
    position: relative;
    z-index: 10;
    left: -50;
}
.area01{
	justify-content: center;
	align-items: center;
}

.area1{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 70px;
} */
/* .body1{
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 20px;
	min-height: 100vh;
}
.body{
	max-width: 1200px;
  	width: 100%;
	display: flex;
	flex-direction: column;
} */ 
/* NB */
/* .intro, .download-container{
	display: flex;
	justify-content: space-between;
	padding: 4px;
}
.card { 			
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);			
}
		
.image-container{
	width: 70%;
	height: 70%;
	background-color: red;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
/* 
.image-container img {
	position: relative;
	left: -120px; 
	top: -10px; 
} */
/* .buy, .rent{
    padding: .5rem;
	border-radius: 8px;
	width: 8rem;
	margin-top: 1rem;
}
.buy{
	border: none;
	background-color:  rgba(215, 81, 24, 0.87);
}
.rent{
	background: none;
	border: 1px solid orange;
}
.buttons{
	display: flex;
	justify-content: space-between;
} */
/* NB */

nav ul{
    display: flex;
    list-style: none;
    /* padding: 5px 5px; */

}
nav li{
    margin-right: 20px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.navigation li{
    margin-left: 30px;
}
.authentication{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 70px;
}
.button-buy{
    background: rgba(225, 68, 0, 0.87);
    border:none;
    padding:10px 15px;
    border-radius:5px;
}
.button-rent{
    color:rgba(225, 68, 0, 0.87);
    border:1px solid rgba(225, 68, 0, 0.87);
    background: none;
    padding:10px 15px;
    border-radius: 5px;
}
.one{
    justify-content: space-between;
    display: flex;

}
.carrimage{
    margin-right: 20%;
    /* justify-content: right; */
    position: relative;
    display: inline-block;
    box-shadow: 3px 2px 2px 3px rgba(204, 199, 197, 0.87);


}
.carr{
    /* box-shadow: 5px 5px 5px 5px rgba(204, 199, 197, 0.87); */
    margin-left: -80px;

}
.types{
    width:120px;
    height:35px;

    gap:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 4px 5px rgba(204, 199, 197, 0.87);
    background-color: transparent;
    border-radius: 5px ;
    border: 1px solid rgba(225, 68, 0, 0.87) ;

}
#two ul li:first-child button{
    background-color: rgba(225, 68, 0, 0.87);
    border:none;
}
/* .people1 p{
    display: flex;
} */
#two li {
    margin: 0 10px; 
    padding: 20px;

}
#two ul{
    display: flex;
    list-style: none;
}
.car1{ 
    border: 1px solid #ebe2e2;
    padding: 20px;
    margin: 30px;
    box-shadow: 3px 4px 5px rgba(204, 199, 197, 0.87);

}

.container{
    display: flex;
    flex-direction: row;
    gap: 50px; 
    margin: 30px;
}
.container button{
    border-radius: 5px;
}

button{
    background-color: rgba(225, 68, 0, 0.87);
    border:none;
    padding: 10px;
    margin: 10px;
    cursor: pointer; 
}

/* .carbuttons{
    justify-content: space-between;
}
#mercedes button{
    background-color: rgba(225, 68, 0, 0.87);
    border: 2px solid rgba(225, 68, 0, 0.87);
}
.carbuttons button{
  background-color: white;
    border: 1px solid rgba(225, 68, 0, 0.87);  
    border-radius: 10%;
    margin-left: 35px;
    height: 35px;
    padding: 10px;
}
.topratedcars ul{
    display: flex;
    list-style: none;
    width: 100%;
    
}
.topratedcars img{
    width: 70%;
}
.rect1{
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}
.rect01{
    display: flex;
    justify-content: space-around;
}
.rect011{
    display: flex;
    justify-content: space-around;
}
.rect1 img h3{
    display: flex;

}
.rect2{
    display: flex;
    list-style: none;
} */
.clientreviews ul{
    display: flex;
    list-style: none;
}

.clientreviews{
    display: flex;
    margin: none;
}
.clientreviews li{
    flex-basis: 100%;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  text-align: left;
}
.clientreviews img{
    width: 70%;
    height: auto;    
}
.clientreviews p{
    width: 70%;
    justify-content: space-between;
}
.clientreviews li strong{
    display: block;
    margin-top: 10px;
    text-align: center;
}
.clientreviews ul{
    display: flex;
}


.arealast{
    display: flex;
    align-items: top;
    width: 100%;
    justify-content: space-between;
    flex-basis: calc(25%);

}

.download-sectioncard{
    box-shadow: 4px 4px 5px rgba(204, 199, 197, 0.87);
	background-color: blanchedalmond;
	height: 15rem;
	margin-top: 5rem;
    margin-left: 20px;
    margin-right: 20px;
}
.download-container{
    display: flex;
	position: relative;
	left: 25%;
	max-width: 800px;
  	width: 100%;
}
.download-details{
width: 50%;
}

.store-images{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.phone img{
    position: relative;
    z-index: 10;
    top: -120px;
    transform: scale(0.8);  
}
.appstore{
	width: 50%;
}
.playstore{
	width: 50%;
	height: 50%;
}
#name{
    border: 2px solid rgba(225, 68, 0, 0.87);
    margin-bottom: 10px;
    height: 30px;
}
.submit button{
    background: rgba(225, 68, 0, 0.87);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
/* .carr{
    float: right;
    padding-bottom: 50px;
} */